<!doctype html>

<html>
<head>


	<link rel="icon" href="favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	
	
	<script type="text/javascript" src="../static/jquery.min.js"></script>
	<script type="text/javascript" src="../static/script.js"></script>

	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body style="overflow:hidden;">
<div id="gradient" style="opacity:1; z-index:5 ; position: absolute; top:0;" />
<script src="../static/color.js" ></script>
<!-- particles.js container --> 
<div id="particles-js"></div>

 <!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> 
 <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
  <script src="../static/parScript.js"></script>



<!-- <div class="main-body" style="position:absolute; height:100%; width:100%; z-index:10"> -->
<ul id="nav" style="position:absolute; width:100%; z-index:100;">
	<!-- <li class="lowercase"><label for="put-cards-down">(Put cards down)</label></li> -->
	<!-- <li><label for="toggle-card-1">First card</label></li> -->
	
	<li><label for="toggle-card"> Next card </label></li>
	<li><label for="toggle-card-5"> Close All </label></li>
</ul>


<div style="width:100%; height:100%; top:30%; position: absolute;text-align:center">
<h1>ROUND 1</h1></div>



<input type="radio" name="cards" class="card-checkbox" id="toggle-card-1">

<div class="card"  style="z-index:110 !important;" >
	<div class="card-box" id="card-id-1">
		
<button id="send">Submit</button>		
	    
    </div>
</div>


<input type="radio" name="cards" class="card-checkbox" id="toggle-card-2">
<div class="card">
	<div class="card-box" id="card-id-2">
		
	    
    </div>
</div>
<input type="radio" name="cards" class="card-checkbox" id="toggle-card-3">
<div class="card">
	<div class="card-box" id="card-id-3">
		
<button id="send">Submit</button>		
	    
    </div>
</div>
<input type="radio" name="cards" class="card-checkbox" id="toggle-card-4">
<div class="card">
	<div class="card-box" id="card-id-4">
		
<button id="send">Submit</button>		
	    
    </div>
	
</div>
<input type="radio" name="cards" class="card-checkbox" id="toggle-card-5"> <!-- put cards down-->
<!-- </div> -->

<div class="leader-card" id="leader-board">
	
</div>


<div class="leader-card rule-card">
	<div class="card-box-info rule-box-info">
		<div class="box-text">
			<p>Rules</p>
		</div>
		<div class="box-details two">
			
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$.get("/getleader",function(data){
		$("#leader-board").html(data);
	});
	$("#send").on("click",function(){
		console.log("Here");
	var formdata = {
		q_id:$("#Question").val(),
		answer:$("#answer").val()
	}
	$.ajax({
		type:"POST",
		url:"/post",
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		// json_string:JSON.stringify(formdata,null,'\t')
		data:formdata,
		success:function(result){
			$(".card-box").css("background-color",result.color);
		}});
	return false;	
	});
});
</script>

</body>

</html>
