<!DOCTYPE html>
<html>
<head>
	<title>Testing</title>
	<script type="text/javascript" src="../static/jquery.min.js"></script>
	<script type="text/javascript">
$(document).ready(function(){
	var getQ = $.get("/questionmaker",function(data){
		$("#place").html(data);
	});
});
	</script>
</head>
<body>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<div id="place">
</div>
<input id="send" type="submit" name="submit">
<button id="next">Next Question</button>
<script type="text/javascript">
$(document).ready(function(){
$("#send").click(function(){
	var formdata = {
		q_id:$("#Question").val(),
		answer:$("#answer").val()
	}
	$.ajax({
		type:"POST",
		url:"/post",
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		// json_string:JSON.stringify(formdata,null,'\t')
		data:formdata,
		success:function(result){
			$("#place").css("background-color",result.color);
		}});
	return false;	
	});
$("#next").click(function(e){
	$.get("/questionmaker",function(data){
		$("#place").html(data);
		$("#place").css('background-color','white');
	});
});
});
</script>
</body>
</html>